{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Account {% endblock %}
{% block content %}
<br><br><br><br><br>
{% if user.is_authenticated %}
    <div class="container">
      <form method="POST">
        {% csrf_token %}
        {{ profile_form_e | crispy}}
        {{ form_e | crispy }}
        <button class="btn btn-success" type="submit" value="save">Save</button>
      </form>
      <br>
    </div>

{% else %}
  <h3>You are not allowed to see this post</h3><br>
  <h1>Redirect...</h1>
  <meta http-equiv = "refresh" content = "3; url = {% url 'home' %}" />
{% endif %}
{% endblock %}