{% extends 'base.html' %}
{% block content %}
	<h1>About the Team!</h1>
	<br>
	<p><h2>Itay Goldfaden</h2></p>
	<p><h4>caption</h4></p>
	<p><h5>itay@email.sc.edu</h5></p>
	<br>
	<p><h2>Corey Brown</h2></p>
	<p><h4>Tester</h4></p>
	<p><h5>browncd4@email.sc.edu</h5></p>
	<br>
	<p><h2>Matthew Caulder</h2></p>
	<p><h4>Client Representative</h4></p>
	<p><h5>mcaulder@email.sc.edu</h5></p>
	<br>
	<p><h2>Erik Nick</h2></p>
	<p><h4>Analyst</h4></p>
	<p><h5>enick@email.sc.edu</h5></p>
	<br>
	<p><h2>James Milton</h2></p>
	<p><h4>Editor</h4></p>
	<p><h5>jlmilton@email.sc.edu</h5></p>

{% endblock content %}
