{% extends 'base.html' %}
{% block content %}
<br><br><br>
{% if user.is_authenticated and post.publish == 1 or user == post.user%}
  <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 center">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="pt-3-half" class="card-title">{{ object.title }}</h2>
              <br>
              <div id="same-line-1">
                  <h4>Description:</h4>
              </div>
              <div id="same-line-3">
                  <p class="pt-6-half" class="card-text text-muted h6">&nbsp{{ object.body }}</p>
              </div>
              <div id="same-line-1">
                  <p><h4>Price:</h4></p>
              </div>
              <div id="same-line-2">
                  {% if object.price == None %}
                      <span class="pt-6-half" class="card-text text-muted h6">&nbsp &#36;0</span>
                  {% else %}
                      <span class="pt-6-half" class="card-text text-muted h6">&nbsp &#36;{{ object.price }}</span>
                  {% endif %}
              </div>
              <br>
              <div id="same-line-1">
                  <p><h4>Condition:<h4></p>
              </div>
              <div id="same-line-2">
                  {% if object.get_condition_display == 'Used - Not Usable' %}
                  <p class="pt-6-half" class="card-text text-muted h6"><font color="red">&nbsp{{ object.get_condition_display }}</font></p>
                  {% elif object.get_condition_display == 'Used - working' %}
                  <p class="pt-6-half" class="card-text text-muted h6"><font color="#b38f00">&nbsp{{ object.get_condition_display }}</font></p>
                  {% elif object.get_condition_display == 'Brand New' %}
                  <p class="pt-6-half" class="card-text text-muted h6"><font color="green">&nbsp{{ object.get_condition_display }}</font></p>
                  {% elif object.get_condition_display == 'Used - Like New' %}
                  <p class="pt-6-half" class="card-text text-muted h6"><font color="#0099cc">&nbsp{{ object.get_condition_display }}</font></p>
                  {% elif object.get_condition_display == 'Used - Good' %}
                  <p class="pt-6-half" class="card-text text-muted h6"><font color="##9900cc">&nbsp{{ object.get_condition_display }}</font></p>
                  {% endif %}
              </div><br>
              <div id="same-line-1">
                  <h4>Category:</h4>
              </div>
              <div id="same-line-2">
                   <p class="pt-6-half" class="card-text text-muted h6">&nbsp{{ object.get_category_display }}</p>
              </div><br>
              <div id="same-line-1">
              {% if user == post.user %}
                  <h4>Publish:</h4>
                </div>
                <div id="same-line-2">
                  <p class="pt-6-half" class="card-text text-muted h6">&nbsp{{ object.get_publish_display }}</p>
              {% endif %}
              </div><br>
              <div id="same-line-1">
                <h4>Images:</h4>
              </div><br><br>
              {% if object.cover %}
              <img src="{{ object.cover.url}}" alt="{{ object.title }}" style="float:center;width:50%;height:100%;object-fit:cover;">
              {% else %}
              <img src="/media/images/no-image-available-icon-6.jpg" style="float:center;width:50%;height:100%;object-fit:cover;">
              {% endif %}
              <br><br>

                  {% if user == post.user %}
                    <a type="button" class="btn btn-outline-success" href="{% url 'edit_post' post.pk %}">Edit</a>
                    <!-- <button type="button" class="btn btn-danger btn-rounded btn-sm my-0" href="{% url 'delete_post' post.pk %}">Delete</button> -->
                    <a type="button" class="btn btn-outline-danger" href="{% url 'delete_post' post.pk %}">Delete</a>
                  {% else %}
                    <a type="button" class="btn btn-outline-success" href="{% url 'email' post.pk %}">Send a message to the seller</a>
                  {% endif %}
                  <button onclick="window.location.href='https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri}}'" class="btn btn-outline-primary">
                    Facebook
                  </button>
                  <button onclick="window.location.href='https://twitter.com/home?status=Check%20out%20my%20post%20on%20Collegemarket!%20{{ request.build_absolute_uri}}'" class="btn btn-outline-primary">
                    Twitter
                  </button>
                  <button onclick="window.location.href='https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri}}&title=Be%20first%20%7C%20Join%20Collegemarket&summary=Check%20out%20my%20post%20on%20Collegemarket!%20 &source={{ request.build_absolute_uri}}'" class="btn btn-outline-primary">
                    Linkedin
                  </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    {% else %}
      <h3>You are not allowed to see this post</h3><br>
      <h1>Redirect...</h1>
      <meta http-equiv = "refresh" content = "2; url = {% url 'home' %}" />
    {% endif %}

{% endblock %}
