[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
mysqlclient = "*"

[packages]
django = "*"
python3-dev = "*"
python-dev = "*"
mysql-server = "*"
libmysqlclient-dev = "*"

[requires]
python_version = "3.7"
