{% extends 'base.html' %}

{% block content %}
<br><br><br>
{% if user.is_authenticated %}
<h1>My Items</h1>
<br>
  {% for post in user.post.all %}
      <ul>
        <li><a href="{{ post.pk }}"><p id="element1">{{ post.title }}  </p><p id="element2">,  ${{ post.price }}</p><p id="element3"> , {{ post.get_condition_display }}</p</a></li>
      </ul>
      <p>{{ user }}</p>
      <p>{{ user.pk }}</p>
      <p> {{ post.user }} </p>

  {% endfor %}

{% else %}
  <p>You are not allowed to see this list</p>
  <meta http-equiv = "refresh" content = "2"; url ='/post' />
{% endif %}
{% endblock %}
